$red: rgb(245, 59, 59);
$yellow: #ffd258;
$green: #41e27f;
$dark: #232a41;
$darker: #2b3142;
$light: #63687a;
$lighter: #b0b5c4;
$white: #ffffff;
$black: #171720;

$font-main: "Jua", sans-serif;
$font-size: 16px;
