@import "./variables";
@import "./typography";
@import "./mixins";

/* Background color styles */

.bg-black {
	background-color: $black;
}
.bg-dark {
	background-color: $dark;
}
.bg-light {
	background-color: $light;
}
.bg-yellow {
	background-color: $yellow;
}
.bg-green {
	background-color: $green;
}
.bg-red {
	background-color: $red;
}
