@import "../styles/global.scss";

.Board {
	margin-top: 2vh;
	.LetterRow {
		@include flex-center;
		flex-direction: "row";
		.Square {
			height: 5vh;
			width: 5vh;
			max-height: 50px;
			max-width: 50px;
			@include flex-center;
			flex-direction: "row";
			margin: 0.5vh;
			border: 2px solid $light;
			.letter {
				font-size: 4vh;
				margin-top: -4px;
				margin-left: -2px;
			}
			&.bg-green,
			&.bg-yellow,
			&.bg-dark {
				border-color: transparent;
			}
		}
		&.current {
			.Square {
				border-color: $lighter;
				background-color: $darker;
			}
		}
	}
}

@media screen and (max-height: 480px) {
	.Board {
		margin-bottom: 5px;
		.LetterRow {
			.Square {
				margin: 1px;
				border-width: 1px;
				min-width: 15px;
				min-height: 15px;
				.letter {
					margin: 0;
				}
			}
		}
	}
}

@media screen and (max-width: 360px) {
	.Board {
		.LetterRow {
			.Square {
				max-width: 12vw;
				max-height: 12vw;
				min-width: 25px;
				min-height: 25px;
			}
		}
	}
}
