@import "../styles/global.scss";

.Board {
	border: 1px solid red;
	padding: 50px;
	.Word {
		@include flex-center;
		flex-direction: "row";
	}
	.Square {
		height: 50px;
		width: 50px;
		@include flex-center;
		flex-direction: "row";
		margin: 5px;
		.letter {
			font-size: 36px;
			margin-top: -4px;
		}
	}
}
