@import "../styles/global.scss";

.Keyboard {
	margin-bottom: 10px;
	.Row {
		@include flex-center;
		margin: 2px 0;
		.KeyButton {
			@include flex-center;
			@include custom-button;
			width: 41px;
			max-height: 60px;
			min-height: 40px;
			height: 8vh;
			font-family: $font-main;
			&.wide {
				width: 62px;
			}
		}
	}
}
@media screen and (max-width: 480px) {
	.Keyboard {
		margin-bottom: 5px;
		.Row {
			.KeyButton {
				width: 8.5vw;
				min-width: 24px;
				max-height: 50px;
				margin: 1px 2px;
				font-size: 12px;
				&.wide {
					width: 13.5vw;
				}
			}
		}
	}
}
