@import "./styles/global.scss";

.App {
	color: $white;
	background-color: $black;
	height: 90vh;
	width: 100vw;
	@include flex-center-col;
	flex-grow: 1;
	user-select: none;
	justify-content: space-between;
	overflow: hidden;
	font-family: $font-main;
	h1 {
		font-size: 5vh;
		margin: 0;
		margin-top: 20px;
	}
	.container {
		@include flex-center-col;
		.menu-container {
			@include flex-center;
			.Button {
				width: 120px;
				padding: 0;
			}
		}
		.error-container {
			@include flex-center;
			height: 25px;
			margin-top: 10px;
			color: $lighter;
			width: 95vw;
			flex-wrap: nowrap;
			text-align: center;
			flex-direction: row;
			position: relative;
			bottom: 0;
		}
	}
}
@media screen and (max-height: 480px) {
	.App {
		.container {
			.menu-container {
				width: 180px;
				margin-top: 10px;
				.Button {
					font-size: 10px;
					padding: 0;
				}
			}
			.error-container {
				margin: 1vh;
			}
		}
		h1 {
			font-size: 24px;
		}
	}
}
@media screen and (max-width: 400px) {
	.App {
		.container {
			.menu-container {
				.Button {
					font-size: 10px;
				}
			}
			.error-container {
				font-size: 10px;
				margin-top: 0;
			}
		}
	}
}
